    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-6">
              <pre>{{ contact.address }}</pre>
              <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
          </div>
        </div>
        <div class="row copyright">
          <div class="col"><p>© {{ siteName }}</p></div>
        </div>
      </div>


    </footer>

    <script src="/site-assets/js/jquery.slim.min.js"></script>
    <script src="/site-assets/js/popper.min.js"></script>
    <script src="/site-assets/js/util.js"></script>
    <script src="/site-assets/js/dropdown.js"></script>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>