    <footer>
      <p>© {{ siteName }}</p>
      <p>{{ contact.address }}</p>
      <p>{{ contact.email }}</p>
    </footer>

    <script src="/site-assets/js/jquery.slim.min.js"></script>
    <script src="/site-assets/js/popper.min.js"></script>
    <script src="/site-assets/js/util.js"></script>
    <script src="/site-assets/js/dropdown.js"></script>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>