<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} - {{ siteName }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="{{ siteUrl }}{{ path }}" />

    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
  </head>
  <body>
    {{> icon-symbols }}

    {{> nav-bar home=home}}
