<header class="home-header">
  <div class="container">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <img src="/assets/cwitc_logo.png" />
  </div>

  {{!-- Adds Edge to backgroud image --}}
  <svg viewBox="0 0 10 10" preserveAspectRatio="none">
    <polygon stroke-width="0" points="0,10 10,6, 10,10" />
  </svg>
</header>