@import "vars";

.community-link-icon {
  display: inline-block;
  cursor: pointer;
  fill: $brand-dark;
}

.community-link {
  display: inline-block;
  margin-left: 1rem;
  font-weight:bold;

  a {
    text-decoration: none;
    color: $brand-dark;

    &:hover {
      text-decoration: none;
      color: $brand-dark;
    }
  }
}

.page-hero {
  background: url('https://static.wixstatic.com/media/c19c76_8599f94d13444813a78ab5704f83932f~mv2_d_5760_3620_s_4_2.jpg/v1/fill/w_1960,h_1922,al_c,q_90,usm_0.66_1.00_0.01/c19c76_8599f94d13444813a78ab5704f83932f~mv2_d_5760_3620_s_4_2.png');
  height: 30vh;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 3rem;
}