.community-link-icon {
  display: inline-block;
  cursor: pointer;
  fill: #000;
}

.community-link {
  display: inline-block;
  margin-left: 1rem;
  font-weight:bold;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}

