footer {
  background-color: $brand-dark;
  color: $brand-light;
  padding: 3vh 0;

  a {
    color: $brand-primary;
    text-decoration: none;

    &:hover {
      color: lighten($brand-primary, 5%);
    }
  }

  .address {

    p {
      margin: 0;
    }
  }

  .social-icons {

    a {
      color: $brand-light;
      flex-basis: 5vw;
      height: 3vw;
      width: 3vw;

      @include media-breakpoint-down(sm) {
        flex-basis: 10vw;
        height: 6vw;
        width: 6vw;
      }

      &:hover {
        color: darken($brand-light, 20%);
      }

      .icon {
        height: 100%;
        width: 100%;
      }
    }
  }
}
