@import "vars";

.home {

  .row {
    padding: 5vh 0;

    &:not(:last-child) {
      border-bottom: 1px solid $brand-dark;
    }
  }

  .icon-container {
    display: flex;

    .icon {
      width: 75%;
      height: 100%;
      fill: $brand-dark;
    }
  }
}