@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "vars";

$svg-height: 20vh;
$hero-height: 70vh;

.header {
  padding: 0;

  .container {
    position: relative;
    z-index: 1;
  }

  &.home-header {
    background: url(/assets/hero_background.jpg), $brand-dark;
    background-blend-mode: multiply;
    background-position: center bottom;
    height: $hero-height;
  }

  &.standard-header {
    background-color: $brand-dark;
  }

  .top-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;

    a {
      color: $brand-light;

      &:hover {
        color: darken($brand-light, 20%);
      }
    }

    img {
      height: 5vw;

      @include media-breakpoint-down(sm) {
        height: 10vw;
      }
    }

    ul {
      align-items: center;
    }
  }

  .cta {
    color: $brand-light;
    text-align: center;

    @include media-breakpoint-down(xs) {
      h1 { font-size: 1.5rem; }
    }

    .conference-date {
      margin-right: 20px;
    }

    .conference-times {
      margin-left: 20px;
    }

    .register-cta {

      p {
        margin-bottom: 0;
      }
    }
  }

  svg {
    position: absolute;
    width: 100%;
    height: $svg-height;
    top: $hero-height - $svg-height;
    fill: $background;
  }
}