@import "vars";

@import "markdown-styles";
@import "home-header";
@import "home";

/* Required */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

/* Bootstrap Components as needed */
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities/flex";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/card";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body {
  background-color: $background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 10%);
  }
}

footer {
  background-color: $brand-dark;
  color: $brand-light;
  padding: 3vh 0;
  text-align: center;

  a {
    color: $brand-primary;
    text-decoration: none;
  }

  a:hover {
    color: lighten($brand-primary, 5%);
  }
}
