// Colors
$primary: rgba(236, 47, 75, 1);
$secondary: rgba(34, 165, 211, 1);
$dark: rgba(47, 46, 46, 1);
$white: rgba(255, 255, 255, 1);
$gray: darken(white, 20%);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "white": $white,
    "gray": $gray
);

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-down(sm) {
    h1, .h1 {
        font-size: $h1-font-size - 0.5rem;
    }

    h2, .h2 {
        font-size: $h2-font-size - 0.5rem;
    }

    h3, .h3 {
        font-size: $h3-font-size - 0.25rem;
    }

    h4, .h4 {
        font-size: $h4-font-size - 0.25rem;
    }

    h5, .h5 {
        font-size: $h5-font-size - 0.25rem;
    }
}
