{{> header}}

<div class="page-hero">
  <h1>{{title}}</h1>
</div>

<div class="container">

  {{{contents}}}

  <a href="https://www.cwitc.org/our-community" target="_self">
    <div class="d-flex align-items-center justify-content-start">
      <div class="community-link-icon">
          <i class="fas fa-angle-double-right fa-3x"></i>
      </div>
      <div class="community-link">
          <span>Discover Central Wisconsin!</span>
      </div>
    </div>
  </a>

</div>

{{> footer}}