{{> header}}

<h2>{{title}}</h2>

{{{contents}}}

<div class="d-flex align-items-center justify-content-start">
  <div class="community-link-icon">
    <a href="https://www.cwitc.org/our-community" target="_self" style="cursor: pointer;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="12.390000343322754 5.9800004959106445 176.2215118408203 188.04100036621094"
        role="img">
        <g>
          <path d="M110.561 99.82l75.072-75.072c3.97-3.97 3.97-10.106 0-13.715l-2.166-2.166c-1.805-1.805-4.331-2.887-6.858-2.887-2.526 0-5.053 1.083-6.858 2.887L85.296 92.962c-2.166 1.805-2.887 4.331-2.887 6.858s1.083 5.053 2.887 6.858l84.456 84.456c1.805 1.805 4.331 2.887 6.858 2.887 2.526 0 5.053-1.083 6.858-2.887l2.166-2.166c3.97-3.97 3.97-10.106 0-13.715L110.561 99.82z"></path>
          <path d="M40.542 99.82l75.072-75.072c3.97-3.97 3.97-10.106 0-13.715l-2.166-2.166c-1.805-1.805-4.331-2.887-6.858-2.887-2.526 0-5.053 1.083-6.858 2.887L15.277 92.962c-1.805 1.805-2.887 4.331-2.887 6.858s1.083 5.053 2.887 6.858l84.456 84.456c1.805 1.805 4.331 2.887 6.858 2.887s5.053-1.083 6.858-2.887l2.166-2.166c3.97-3.97 3.97-10.106 0-13.715L40.542 99.82z"></path>
        </g>
      </svg>
    </a>
  </div>
  <div class="community-link">
    <a href="https://www.cwitc.org/our-community" target="_self">
      <span style="font-weight:bold;">Discover Central Wisconsin!</span>
    </a>
  </div>
</div>



{{> footer}}