{{> header}}

<div class="venue">
  <div class="page-hero">
    <h1>{{title}}</h1>
    <h2>{{subtitle1}}</h2>
    <h4>{{subtitle2}}</h4>
  </div>
  <div class="map">MAP GOES HERE</div>
</div>

{{> footer}}